<a href="https://colab.research.google.com/github/deniaulainfead23/bdgoogleColab/blob/main/BancoNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS pessoas (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER
    );
 ''');

In [6]:

# Criação da tabela 'produtos'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        quantidade INTEGER,
        precocompra REAL
    );
 ''');

In [8]:
cursor.execute('''
 CREATE TABLE IF NOT EXISTS vendas (
        idvenda INTEGER PRIMARY KEY AUTOINCREMENT,
        idPessoa INTEGER NOT NULL,
        idProduto INTEGER NOT NULL,
        quantidade INTEGER,
        precovenda REAL,
        FOREIGN KEY (idPessoa) REFERENCES pessoas(id),
        FOREIGN KEY (idProduto) REFERENCES produtos(id)
    );
     ''');

In [9]:
cursor.execute('''
    INSERT INTO pessoas (nome, idade)
    VALUES
    ('Maria', 30),
    ('João', 25),
    ('Ana', 40);
''')
conn.commit()

In [11]:
cursor.execute('''
    select * from pessoas;
''')
conn.commit()
cursor.execute("SELECT * FROM pessoas;")
results = cursor.fetchall()

for row in results:
    print(row)

(1, 'Maria', 30)
(2, 'João', 25)
(3, 'Ana', 40)

In [12]:
cursor.execute('''
    INSERT INTO produtos (descricao, quantidade, precocompra)
    VALUES
    ('Camiseta', 100, 25.00),
    ('Calça', 50, 80.00),
    ('Sapato', 30, 120.00);
''')

In [13]:
# --- Insert data into 'vendas' table ---
cursor.execute('''
    INSERT INTO vendas (idPessoa, idProduto, quantidade, precovenda)
    VALUES
    (1, 1, 2, 60.00),  -- Maria bought 2 Camiseta
    (2, 3, 1, 150.00), -- João bought 1 Sapato
    (3, 2, 3, 200.00); -- Ana bought 3 Calça
''')
conn.commit()

In [14]:
# --- Retrieve data using a JOIN ---
cursor.execute('''
    SELECT
        p.nome,
        pr.descricao,
        v.quantidade,
        v.precovenda
    FROM
        vendas v
    JOIN
        pessoas p ON v.idPessoa = p.id
    JOIN
        produtos pr ON v.idProduto = pr.id;
''')

results = cursor.fetchall()

for row in results:
    print(row)

# ... (rest of the code) ...

('Maria', 'Camiseta', 2, 60.0)
('João', 'Sapato', 1, 150.0)
('Ana', 'Calça', 3, 200.0)

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [ ]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS pessoas (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER
    );
 ''');

In [ ]:

# Criação da tabela 'produtos'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        quantidade INTEGER,
        precocompra REAL
    );
 ''');

In [ ]:
cursor.execute('''
 CREATE TABLE IF NOT EXISTS vendas (
        idvenda INTEGER PRIMARY KEY AUTOINCREMENT,
        idPessoa INTEGER NOT NULL,
        idProduto INTEGER NOT NULL,
        quantidade INTEGER,
        precovenda REAL,
        FOREIGN KEY (idPessoa) REFERENCES pessoas(id),
        FOREIGN KEY (idProduto) REFERENCES produtos(id)
    );
     ''');

In [ ]:
cursor.execute('''
    INSERT INTO pessoas (nome, idade)
    VALUES
    ('Maria', 30),
    ('João', 25),
    ('Ana', 40);
''')
conn.commit()

In [ ]:
cursor.execute('''
    select * from pessoas;
''')
conn.commit()
cursor.execute("SELECT * FROM pessoas;")
results = cursor.fetchall()

for row in results:
    print(row)

(1, 'Maria', 30)
(2, 'João', 25)
(3, 'Ana', 40)

In [ ]:
cursor.execute('''
    INSERT INTO produtos (descricao, quantidade, precocompra)
    VALUES
    ('Camiseta', 100, 25.00),
    ('Calça', 50, 80.00),
    ('Sapato', 30, 120.00);
''')

In [ ]:
# --- Insert data into 'vendas' table ---
cursor.execute('''
    INSERT INTO vendas (idPessoa, idProduto, quantidade, precovenda)
    VALUES
    (1, 1, 2, 60.00),  -- Maria bought 2 Camiseta
    (2, 3, 1, 150.00), -- João bought 1 Sapato
    (3, 2, 3, 200.00); -- Ana bought 3 Calça
''')
conn.commit()

In [22]:
!git clone https://github.com/deniaulainfead23/bancodedados.git

fatal: destination path 'bancodedados' already exists and is not an empty directory.

In [21]:
%cd https://github.com/deniaulainfead23/bancodedados.git

[Errno 2] No such file or directory: 'https://github.com/deniaulainfead23/bancodedados.git'
/content